
        <footer>
            <div class="left">
                <span>2018 <i class="far fa-registered"></i>AWS Certificaciones. Todos los derechos reservados. 3-297-15728-0.</span>
            </div>
            <div class="right green">
                @AWS_latam
            </div>
        </footer>